name: Comment PR Coverage
on:
  pull_request:
    branches:
      - canary
      - "*.x"
      - 'main'
permissions:
  contents: read

jobs:
  coverage_report:
    name: Generate coverage report
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    strategy:
      matrix:
        node-version: [22.16.0]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install Node Modules
        run: npm ci

      - name: Run Coverage Check
        run: npm run lcov

      - name: Setup LCOV
        uses: hrishikesh-kadam/setup-lcov@6c1aa0cc9e1c02f9f58f01ac599f1064ccc83470 # v1.1.0

      - name: Report code coverage
        uses: zgosalvez/github-actions-report-lcov@a8934b6effd782f35ed7def7d3adf77fbcf88b59 # v7.0.0
        with:
          coverage-files: coverage/lcov.info
          minimum-coverage: 90
          artifact-name: code-coverage-report
          github-token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
