name: Run Tests
on:
  pull_request:
    branches:
      - canary
      - "*.x"
      - 'main'
  push:
    branches:
      - canary
      - "*.x"
      - main
permissions:
  contents: read

jobs:
  test-node:
    runs-on: ubuntu-latest
    permissions:
      actions: write
      checks: write
    strategy:
      matrix:
        node-version: [20.x, 22.16.0]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: NPM Audit
        run: npx audit-ci@7.1.0

      - name: Install Node Modules
        run: npm ci

      - name: Run Tests and Linting
        run: npm run test

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: test-reports-${{ matrix.node-version }}
          path: test/reports/

  test-bun:
    runs-on: ubuntu-latest
    permissions:
      actions: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@db6bcf6eb8d88a8aa03265b887ec7bd84d64cd68 # v2.1.1

      - name: Install Bun Packages
        run: bun install --no-save
      
      - name: Run Bun Tests
        run: bun run test
