name: Run Tests
on:
  pull_request:
    branches:
      - 'main'
      - canary
      - "*.x"
  push:
    branches:
      - main
      - canary
      - "*.x"
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install Node Modules
        run: pnpm i --frozen-lockfile

      - name: NPM Audit
        run: pnpm audit-ci

      - name: Run Tests and Linting
        run: pnpm run test
